body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(64, 128, 191); */
  background:white;
  background-image: url("./components/Game/images/memphis_blue3-01.png");
  background-position: center;
  /* background-size: contain; */
  /* background: linear-gradient(
    90deg,
    rgba(165, 167, 148, 1) 0%,
    rgba(91, 92, 84, 1) 40%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
